apiVersion: v2
description: KubeStash by AppsCode - Backup your Kubernetes native applications
name: kubestash
type: application
version: v2026.2.27
appVersion: v2026.2.27
kubeVersion: '>=1.28.0-0'
annotations:
  charts.openshift.io/name: kubestash
home: https://kubestash.com
icon: https://cdn.appscode.com/images/products/kubestash/stash-icon.png
sources:
- https://github.com/kubestash
maintainers:
- name: appscode
  email: support@appscode.com
dependencies:
- name: kubestash-operator
  repository: file://../kubestash-operator
  condition: kubestash-operator.enabled
  version: v0.24.0
- name: kubestash-catalog
  repository: file://../kubestash-catalog
  condition: kubestash-catalog.enabled
  version: v2026.2.27
- name: kubestash-metrics
  repository: file://../kubestash-metrics
  condition: kubestash-metrics.enabled
  version: v2026.2.27
- name: ace-user-roles
  repository: oci://ghcr.io/appscode-charts
  condition: ace-user-roles.enabled
  version: v2025.3.14
- name: taskqueue
  version: v2026.1.15
  condition: global.taskQueue.enabled
  repository: oci://ghcr.io/appscode-charts
